body{
margin:0;
font-family:'Poppins',sans-serif;
background:#0b0f1a;
color:white;
}

/* NAVBAR */
nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#020617;
position:fixed;
width:100%;
}

nav a{
color:#cbd5f5;
margin-left:20px;
text-decoration:none;
}

nav a:hover{
color:#38bdf8;
}

/* SECTION */
.section{
padding:100px 10%;
}

/* CARD */
.card{
background:#111827;
padding:20px;
margin:10px 0;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

/* BUTTON */
.btn{
background:#38bdf8;
padding:10px 20px;
border-radius:5px;
color:black;
text-decoration:none;
}
